# Analytique de l'apprentissage

# Apprentissage supervisé

## Algorithmes de prédiction

Carnet web IPython (Jupyter Notebook) en complément du **«Chapitre 6 – Vers une IENA pilotée par les données » ** du livre : **« Vers une nouvelle ingénierie des environnements numériques d’apprentissage »**, auteurs du chapitre, Claude Coulombe & Valéry Psyché, éditeurs: Josiane Basque, Gilbert Paquette, licence code source libre MIT

### Utilisation des bibliothèques Python Pandas (manipulation des données), Sklearn (apprentissage automatique) et matplotlib (affichage graphique)

In [445]:
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import sklearn

## Expériences algorithme de prédiction 

    réponse au quizz socio-démographique
    nombre d’heures consacrées au CLOM 
    certificat obtenu

### Questionnaire profil socio-démographique

In [446]:
path_to_datafile = "AA_data/"

In [447]:
IHPQ_Profil_Q1_DF = pd.read_csv(path_to_datafile+"IHPQ_profil_Q1_rep.csv", 
                                delimiter=",",
                                na_values=[""],
                                encoding='utf-8')
IHPQ_Profil_Q1_DF.head()

   student_id   sexe
0        3320    NaN
1          13  femme
2        3985    NaN
3        4746  femme
4        3977  homme

In [448]:
print(len(IHPQ_Profil_Q1_DF))

1847

In [449]:
IHPQ_Profil_Q2_DF = pd.read_csv(path_to_datafile+"IHPQ_profil_Q2_rep.csv", 
                                delimiter=",",
                                na_values=[""],
                                encoding='utf-8')

In [450]:
IHPQ_Profil_Q2_DF.head()

   student_id   age
0        3320   NaN
1          13  58.0
2        3985   NaN
3        4746  68.0
4        3977  26.0

In [451]:
print(len(IHPQ_Profil_Q2_DF))

1848

In [452]:
print(list(IHPQ_Profil_Q2_DF[IHPQ_Profil_Q2_DF['student_id'] == 13]['age'])[0])

58.0

In [453]:
IHPQ_Profil_Q3_DF = pd.read_csv(path_to_datafile+"IHPQ_profil_Q3_rep.csv", 
                                delimiter=",",
                                na_values=[""],
                                encoding='utf-8')

In [454]:
IHPQ_Profil_Q3_DF.head()

   student_id         pays
0        3320          NaN
1          13  Canada - Qc
2        3985          NaN
3        4746  Canada - Qc
4        3977  Canada - Qc

In [455]:
print(len(IHPQ_Profil_Q3_DF))

1848

In [456]:
print(list(IHPQ_Profil_Q3_DF[IHPQ_Profil_Q3_DF['student_id'] == 13]['pays'])[0])

Canada - Qc

In [457]:
# pd.merge(left=survey_sub,right=species_sub, left_on='species_id', right_on='species_id')
IHPQ_CLUSTER_VEC_DF = pd.merge(left=IHPQ_Profil_Q1_DF,right=IHPQ_Profil_Q2_DF,
                               left_on='student_id', right_on='student_id')
IHPQ_CLUSTER_VEC_DF = pd.merge(left=IHPQ_CLUSTER_VEC_DF,right=IHPQ_Profil_Q3_DF,
                               left_on='student_id', right_on='student_id')

In [458]:
IHPQ_CLUSTER_VEC_DF.head()

   student_id   sexe   age         pays
0        3320    NaN   NaN          NaN
1          13  femme  58.0  Canada - Qc
2        3985    NaN   NaN          NaN
3        4746  femme  68.0  Canada - Qc
4        3977  homme  26.0  Canada - Qc

In [459]:
print(len(IHPQ_CLUSTER_VEC_DF))

1847

In [460]:
IHPQ_CLUSTER_VEC_DF['age'] = IHPQ_CLUSTER_VEC_DF['age'].apply(lambda age: False if pd.isna(age) is True else True)
IHPQ_CLUSTER_VEC_DF['sexe'] = IHPQ_CLUSTER_VEC_DF['sexe'].apply(lambda sexe: False if pd.isna(sexe) is True else True)
IHPQ_CLUSTER_VEC_DF['pays'] = IHPQ_CLUSTER_VEC_DF['pays'].apply(lambda pays: False if pd.isna(pays) is True else True)

In [461]:
IHPQ_CLUSTER_VEC_DF.head()

   student_id   sexe    age   pays
0        3320  False  False  False
1          13   True   True   True
2        3985  False  False  False
3        4746   True   True   True
4        3977   True   True   True

In [462]:
print(len(IHPQ_CLUSTER_VEC_DF))

1847

In [463]:
IHPQ_CLUSTER_VEC_DF['profil'] = np.logical_or(IHPQ_CLUSTER_VEC_DF['sexe'],IHPQ_CLUSTER_VEC_DF['age'])
IHPQ_CLUSTER_VEC_DF['profil'] = np.logical_or(IHPQ_CLUSTER_VEC_DF['profil'],IHPQ_CLUSTER_VEC_DF['pays'])
IHPQ_CLUSTER_VEC_DF['profil'] = IHPQ_CLUSTER_VEC_DF['profil'].apply(lambda profil: 1 if profil is True else 0)
IHPQ_CLUSTER_VEC_DF = IHPQ_CLUSTER_VEC_DF.drop(['sexe','age','pays'],axis=1)

In [464]:
IHPQ_CLUSTER_VEC_DF.head()

   student_id  profil
0        3320       0
1          13       1
2        3985       0
3        4746       1
4        3977       1

In [465]:
print(len(IHPQ_CLUSTER_VEC_DF))

1847

### Questionnaire final et heures travaillées par semaine

In [466]:
IHPQ_Final_Q1_DF = pd.read_csv(path_to_datafile+"IHPQ_final_Q1_rep.csv",
                               delimiter=",",
                               na_values=[""],
                               encoding='utf-8')

In [467]:
IHPQ_Final_Q1_DF.head()

   student_id         worked_hours
0          13                  NaN
1        3320                  NaN
2        4171  Entre 1 et 2 heures
3        3985                  NaN
4         842                  NaN

In [468]:
print(len(IHPQ_Final_Q1_DF))

809

In [469]:
IHPQ_Final_Q1_DF['worked_hours'] = IHPQ_Final_Q1_DF['worked_hours'].apply(lambda etiquette: etiquette.replace(' ','_') if type(etiquette) is str else etiquette)

In [470]:
IHPQ_Final_Q1_DF.groupby("worked_hours").size()

worked_hours
Entre_1_et_2_heures    286
Entre_2_et_4_heures    226
Entre_4_et_6_heures     61
Moins_d'une_heure       31
Plus_de_6_heures        12
dtype: int64

In [471]:
IHPQ_Final_Q1_DF = pd.concat([IHPQ_Final_Q1_DF.drop(columns=['worked_hours']), pd.get_dummies(IHPQ_Final_Q1_DF['worked_hours'])], axis=1)

In [472]:
print(len(IHPQ_Final_Q1_DF))

809

In [473]:
IHPQ_Final_Q1_DF.head()

,student_id,Entre_1_et_2_heures,Entre_2_et_4_heures,Entre_4_et_6_heures,Moins_d'une_heure,Plus_de_6_heures
0,13,0,0,0,0,0
1,3320,0,0,0,0,0
2,4171,1,0,0,0,0
3,3985,0,0,0,0,0
4,842,0,0,0,0,0

In [474]:
IHPQ_CLUSTER_VEC_DF = pd.merge(left=IHPQ_CLUSTER_VEC_DF,right=IHPQ_Final_Q1_DF,
                               on='student_id', how='left')

In [475]:
IHPQ_CLUSTER_VEC_DF.head()

,student_id,profil,Entre_1_et_2_heures,Entre_2_et_4_heures,Entre_4_et_6_heures,Moins_d'une_heure,Plus_de_6_heures
0,3320,0,0.0,0.0,0.0,0.0,0.0
1,13,1,0.0,0.0,0.0,0.0,0.0
2,3985,0,0.0,0.0,0.0,0.0,0.0
3,4746,1,NaN,NaN,NaN,NaN,NaN
4,3977,1,1.0,0.0,0.0,0.0,0.0

In [476]:
print(len(IHPQ_CLUSTER_VEC_DF))

1847

### Attestation et note globale

In [477]:
IHPQ_Attestations_DF = pd.read_csv(path_to_datafile+"IHPQ_attestation_timeorg.csv",
                                   delimiter=",",
                                   na_values=[""],
                                   encoding='utf-8')
IHPQ_Attestations_DF.head()

,student_id,grade,attestation,time_organization
0,13,8,notpassing,***
1,369,0,notpassing,***
2,4672,89,generating,A des moments tres variables*Surtout durant la...
3,5554,20,notpassing,***
4,5611,84,generating,A des moments tres variables*Surtout durant la...

In [478]:
IHPQ_Attestations_DF['attestation'] = IHPQ_Attestations_DF['attestation'].apply(lambda attestation: 1.0 if attestation == 'generating' else 0.0)

In [479]:
IHPQ_Attestations_DF['grade'] = IHPQ_Attestations_DF['grade']/100.0

In [480]:
IHPQ_Attestations_DF = IHPQ_Attestations_DF.drop(['time_organization'],axis=1)

In [481]:
IHPQ_Attestations_DF.head()

   student_id  grade  attestation
0          13   0.08          0.0
1         369   0.00          0.0
2        4672   0.89          1.0
3        5554   0.20          0.0
4        5611   0.84          1.0

In [482]:
IHPQ_CLUSTER_VEC_DF = pd.merge(left=IHPQ_CLUSTER_VEC_DF,right=IHPQ_Attestations_DF,
                               on='student_id', how='left')

In [483]:
IHPQ_CLUSTER_VEC_DF.head()

,student_id,profil,Entre_1_et_2_heures,Entre_2_et_4_heures,Entre_4_et_6_heures,Moins_d'une_heure,Plus_de_6_heures,grade,attestation
0,3320,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,13,1,0.0,0.0,0.0,0.0,0.0,0.08,0.0
2,3985,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,4746,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3977,1,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [484]:
IHPQ_CLUSTER_VEC_DF = IHPQ_CLUSTER_VEC_DF.fillna(0)
IHPQ_CLUSTER_VEC_DF.head()

,student_id,profil,Entre_1_et_2_heures,Entre_2_et_4_heures,Entre_4_et_6_heures,Moins_d'une_heure,Plus_de_6_heures,grade,attestation
0,3320,0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
1,13,1,0.0,0.0,0.0,0.0,0.0,0.08,0.0
2,3985,0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
3,4746,1,0.0,0.0,0.0,0.0,0.0,0.00,0.0
4,3977,1,1.0,0.0,0.0,0.0,0.0,0.00,0.0

In [485]:
print(len(IHPQ_CLUSTER_VEC_DF))

1847

In [486]:
IHPQ_CLUSTER_VEC_DF.groupby('attestation').size()

attestation
0.0    1760
1.0      87
dtype: int64

### Prédiction de l'attestation

In [487]:
IHPQ_CLUSTER_VEC_NOTE_DF = IHPQ_CLUSTER_VEC_DF.drop(['student_id','grade'],axis=1)

In [488]:
X = IHPQ_CLUSTER_VEC_NOTE_DF.loc[:, IHPQ_CLUSTER_VEC_NOTE_DF.columns != 'attestation']
y = IHPQ_CLUSTER_VEC_NOTE_DF.loc[:, IHPQ_CLUSTER_VEC_NOTE_DF.columns == 'attestation']

In [489]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y.values.ravel(), test_size=0.2, random_state=0)
logreg_model = LogisticRegression(solver='lbfgs',class_weight='balanced')
logreg_model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [490]:
print('Exactitude de la prédiction sur les données test: {:.2f}'.format(logreg_model.score(X_test, y_test)))

Exactitude de la prédiction sur les données test: 0.66

In [491]:
from sklearn.metrics import f1_score

y_pred = logreg_model.predict(X_test)

f1_score(y_test, y_pred, average='micro' )

0.6567567567567567

## Quelques tests

In [492]:
a_X_test = np.array([1,0,0,0,0,1]).reshape(1, -1)
print(a_X_test.shape)
a_y_test_pred = logreg_model.predict(a_X_test)
print(a_y_test_pred)

(1, 6)
[1.]

In [493]:
a_X_test = np.array([0,0,0,0,0,1]).reshape(1, -1)
print(a_X_test.shape)
a_y_test_pred = logreg_model.predict(a_X_test)
print(a_y_test_pred)

(1, 6)
[1.]

In [494]:
a_X_test = np.array([0,0,0,0,0,0]).reshape(1, -1)
print(a_X_test.shape)
a_y_test_pred = logreg_model.predict(a_X_test)
print(a_y_test_pred)

(1, 6)
[0.]

In [495]:
a_X_test = np.array([1,0,0,0,0,0]).reshape(1, -1)
print(a_X_test.shape)
a_y_test_pred = logreg_model.predict(a_X_test)
print(a_y_test_pred)

(1, 6)
[0.]

In [496]:
a_X_test = np.array([1,0,0,0,1,0]).reshape(1, -1)
print(a_X_test.shape)
a_y_test_pred = logreg_model.predict(a_X_test)
print(a_y_test_pred)

(1, 6)
[1.]

## Ressources utiles

1) StackOverflow - https://stackoverflow.com

2) Pandas -https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html

3) Expressions régulières - http://regex101.com/ - https://www.regular-expressions.info/tutorial.html

4) Matplotlib - https://matplotlib.org/3.1.1/tutorials/index.html

5) Sklearn - https://scikit-learn.org/stable/ - https://scikit-learn.org/stable/tutorial/index.html